
[class|="square"] {
  border-radius: 2px;
  height: 0.9em;
  width: 0.9em;
  border: 1px solid black;
  margin-top: 1px;
  margin-left: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .2s; /* Animation */
}

[title~="open-set"] {
  border: 1px solid white;
}

[title~="optimal-path"] {
  border: 1px solid #00FF7F;
  background-color: aquamarine;
}

[class$="dragging"] {
  transform: scale(1.8);
}