
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-enabled:hover .dropdown-content {
  display: block;
}

.dropdown-option:hover {
  background-color: yellow;
  cursor: pointer;
}

.dropdown-option {
  padding: 0.3em;
  font-size: 0.75em;
  list-style: none;
  text-decoration: none;
  border-radius: 0.2em;
  margin-top: 0.1em solid yellow;
  color: black;
  font-weight: bold;
  width: 90%;
}

.dropdown-content:hover {
  background-color: #088F8F;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 0.3em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0.5em 0.5em;
  z-index: 1;
  flex-direction: column;
  position: absolute;
  background-color: #E4D00A;
  border: 0.1em solid black;
  width: 100%;
}